@import url("header.css");
@import url("search.css");
@import url("content.css");
@import url("visitedTopics.css");
@import url("news.css");
@import url("footer.css");

:root {
  --mainGradient: linear-gradient(to bottom, #002F52, #326589);
  --mainFont: 'Poppins', sans-serif;
  --whiteFont: #FFFFFF;
  --orangeColor: #EB9B00;
  --darkBlueColor: #002F52;
  --blackColor: #000000;
  --lightGray: #F9F9F9;
}
